<p id="notice"><%= notice %></p>
<section>
  <span class="label">プロフィール画像</span>
  <h3 class="user-info">
    <% if user_signed_in? %>
      <% if @user.image %>
        <%= image_tag "/user_images/#{@user.image}", class: 'img_size' %>
      <% end %>
    <% end %>
  </h3>
</section>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<ol >
  <% @tweets.each do |tweet| %>
  <li><%= link_to tweet.title ,tweet%></li>
  <% end %>
</ol>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
